<main>
    <div class="example-sidenav-content">
        <mat-card class="card">
            <div class="article-header">
                <img class="card-image" mat-card-image src="{{article?.image}}" alt="Article Image">
                <mat-card-header>
                    <mat-card-title class="title">{{article?.title}}</mat-card-title>
                </mat-card-header>
            </div>
            <mat-card-content>
                <p class="text">{{article?.longDescription}}</p>
            </mat-card-content>
            <button mat-raised-button color="primary" (click)="goBack()">Go Back</button>
        </mat-card>
    </div>
</main>